body {
  width: 240px;
}

.ruleset {
  display: flex;
  height: 36px;
  align-items: center;
  padding: 6px;
}
.ruleset:hover {
  background-color: var(--highlight-color);
}
.ruleset .name {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.ruleset .action {
  flex: 1;
}
.actions {
  display: flex;
  flex-wrap: wrap;
}
select {
  height: 28px;
  width: 100%;
}
button {
  padding: 4px 8px;
  margin: 3px 4px;
  border: 1px solid var(--border-color);
  background: none;
  font-size: 14px;
  width: fill;
}
button:hover {
  background-color: var(--highlight-color);
}
button:active {
  background-color: var(--active-color);
}