<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Proxy Proxy - For endless freedom</title>
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/popup.css">
</head>

<body>
  <div id="app">
    <div class="actions scenes">
      <button v-for="scene in scenes" @click="applyScene(scene)">{{scene.displayName}}</button>
    </div>
    <div class="rulesets">
      <div class="ruleset" v-for="ruleset in rulesets">
        <div class="name">{{ruleset.displayName}}</div>
        <div class="action">
          <select v-model="currentRules[ruleset.name]">
            <option v-for="proxy in proxies" :value="proxy.name">{{proxy.displayName}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="actions advanced">
      <button>添加当前页</button>
      <button @click="openSettings">管理情景</button>
    </div>
  </div>
  <script src="scripts/popup.js" type="module"></script>
</body>

</html>