<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>设置 - Proxy Proxy</title>
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="/lib/bulma.css">
  <link rel="stylesheet" href="styles/settings.css">
</head>

<body>
  <section id="app" class="section" v-cloak>
    <div class="container">
      <div class="tabs">
        <ul>
          <li v-for="(name, key) in ui.tabs" :class="{'is-active': ui.currentTab === key}">
            <a @click="ui.currentTab = key">{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="tabs-container">
        <div class="tab-scenes" v-show="ui.currentTab === 'scenes'">
          <article class="message">
            <div class="message-body">
              情景模式是规则组到代理服务器的映射，方便你应对不同的工作场景。
            </div>
          </article>
          <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
              <tr>
                <th></th>
                <th>名称</th>
                <th v-for="ruleset in rulesets">{{ruleset.displayName}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(scene, index) in scenes" :key="scene.name">
                <td>
                  <div class="field has-addons">
                    <p class="control">
                      <a class="button" :disabled="index === 0" @click="moveUp('scenes', index)">↑</a>
                    </p>
                    <p class="control">
                      <a class="button" :disabled="index === scenes.length - 1" @click="moveDown('scenes', index)">↓</a>
                    </p>
                    <p class="control">
                      <a class="button" @click="remove('scenes', index)">✘</a>
                    </p>
                  </div>
                </td>
                <td>
                  <input type="text" class="input" placeholder="情景名称" v-model="scene.displayName">
                </td>
                <td v-for="ruleset in rulesets">
                  <div class="select">
                    <select v-model="scene.proxies[ruleset.name]">
                      <option v-for="proxy in proxies" :value="proxy.name">{{proxy.displayName}}</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="actions">
            <a class="button is-primary" @click="addScene">新建情景模式</a>
          </div>
        </div>
        <div class="tab-rulesets" v-show="ui.currentTab === 'rulesets'">
          <div class="columns">
            <div class="column small-column">
              <nav class="panel">
                <a v-for="(ruleset, index) in rulesets" class="panel-block" :key="ruleset.name" @click="ui.currentRulesetIndex = index" :class="{'is-active': ui.currentRulesetIndex === index}">{{ruleset.displayName}}</a>
                <div class="panel-block">
                    <button class="button" @click="addRuleset">新建</button>
                    <div class="field has-addons">
                      <p class="control">
                        <a class="button" :disabled="ui.currentRulesetIndex === 0" @click="moveUpRuleset">↑</a>
                      </p>
                      <p class="control">
                        <a class="button" :disabled="ui.currentRulesetIndex === rulesets.length - 1" @click="moveDownRuleset">↓</a>
                      </p>
                      <p class="control">
                        <a class="button" @click="removeRuleset">✘</a>
                      </p>
                    </div>
                </div>
              </nav>
            </div>
            <div class="column">
              <div class="field">
                <label for="name" class="label">规则名</label>
                <div class="control">
                  <input class="input" type="text" id="name" v-model="uiCurrentRuleset.displayName">
                </div>
              </div>
              <div class="field">
                <label class="label">特性</label>
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" v-model="uiCurrentRuleset.other"> 选中所有网址(其它)</label>
                </div>
              </div>
              <section v-show="!uiCurrentRuleset.other">
                <div class="field">
                  <label class="label">导入的规则文件</label>
                  <p class="help">规则文件在每次启动或设置变更时下载。请设置可以直接连接的规则地址，避免不必要的麻烦。</p>
                </div>
                <div class="columns rule-row is-variable is-1" v-for="imp of uiCurrentRuleset.imports">
                  <div class="column min-content-column">
                    <div class="select">
                      <select v-model="imp.type">
                        <option value="regexp">地址正则</option>
                        <option value="host">主机名</option>
                        <option value="ip">IP 地址段</option>
                      </select>
                    </div>
                  </div>
                  <div class="column">
                    <input type="text" class="input" v-model="imp.url">
                  </div>
                  <div class="column min-content-column">
                    <button class="button is-danger is-outlined">删除</button>
                  </div>
                </div>
                <button class="button padding-bottom" @click="addRuleFile">添加规则文件</button>
                <div class="field is-invisible">
                  <label class="label">规则</label>
                </div>
                <div class="columns is-variable is-1 is-invisible">
                  <div class="column min-content-column">
                    <div class="select">
                      <select>
                        <option>地址正则</option>
                        <option>主机名</option>
                        <option>IP 地址段</option>
                      </select>
                    </div>
                  </div>
                  <div class="column">
                    <input type="text" class="input">
                  </div>
                  <div class="column min-content-column">
                    <button class="button is-danger is-outlined">删除</button>
                  </div>
                </div>
                <button class="button padding-bottom is-invisible">添加规则</button>
              </section>
            </div>
          </div>
        </div>
        <div class="tab-proxies" v-show="ui.currentTab === 'proxies'">
          <table class="table is-fullwidth is-hoverable is-striped">
            <thead>
              <tr>
                <th></th>
                <th>名称</th>
                <th>类型</th>
                <th>主机</th>
                <th>端口</th>
                <th>用户名</th>
                <th>密码</th>
                <th>远程解析</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(proxy, index) in proxies">
                <td>
                  <div class="field">
                    <p class="control">
                      <a class="button" @click="removeProxy(index)">✘</a>
                    </p>
                  </div>
                </td>
                <td>
                  <input type="text" class="input" placeholder="服务器名称" v-model="proxy.displayName">
                </td>
                <td>
                  <div class="select">
                    <select v-model="proxy.config.type">
                      <option value="direct">直接连接</option>
                      <option value="http">HTTP</option>
                      <option value="https">HTTPS</option>
                      <option value="socks">SOCKS5</option>
                      <option value="socks4">SOCKS4</option>
                    </select>
                  </div>
                </td>
                <td>
                  <input
                    v-show="proxy.config.type !== 'direct'"
                    v-model="proxy.config.host"
                    class="input" type="text" placeholder="localhost">
                </td>
                <td>
                  <input
                    v-show="proxy.config.type !== 'direct'"
                    v-model="proxy.config.port"
                    class="input" type="text" placeholder="8888">
                </td>
                <td>
                  <input
                    v-show="proxy.config.type !== 'direct'"
                    v-model="proxy.config.username"
                    class="input" type="text" placeholder="user">
                </td>
                <td>
                  <input
                    v-show="proxy.config.type !== 'direct'"
                    v-model="proxy.config.password"
                    class="input" type="password" placeholder="pass">
                </td>
                <td>
                  <input
                    v-show="proxy.config.type === 'socks4' || proxy.config.type === 'socks'"
                    v-model="proxy.config.proxyDNS"
                    class="large-checkbox" type="checkbox">
                </td>
              </tr>
            </tbody>
          </table>
          <div class="actions">
            <a class="button is-primary" @click="addProxy">新建代理</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="scripts/settings.js" type="module"></script>
</body>

</html>